@import "tailwindcss";
@import "tw-animate-css";

@import "@chat2poster/shared-ui/styles/globals.css";
@import "@chat2poster/shared-ui/styles/renderer.css";

@source "../../../../../packages/shared-ui/src/**/*.{ts,tsx,js,jsx}";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


@layer base {
  :root * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:host {
  /* all: initial; */
  font-family:
    "PingFang SC",
    "Hiragino Sans GB",
    "Microsoft YaHei",
    "Noto Sans SC",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

#chat2poster-root,
#chat2poster-root * {
  overscroll-behavior: contain;
}

html,
html > body,
#app {
  color: var(--color-foreground);
  background-color: var(--color-background);
  pointer-events: auto;
  user-select: auto;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-feature-settings:
    'rlig' 1,
    'calt' 1;
  position: relative;
  z-index: 9999999;
}

button {
  cursor: pointer;
}

a:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none !important;
}
